{% extends "layout.html" %} {% block body %}

<h1>Bio of each member</h1>

<h3>Trista (Chihning Lu)</h3>
<p><span style="font-weight: bold;">Role: </span>Group Captain</p>
<p><span style="font-weight: bold;">Contributions to the Project: </span>Basic back-end setup, including route handlers for main pages and updated files.</p>
<br>
<h3>Ran Wei</h3>
<p><span style="font-weight: bold;">Role: </span>Team member</p>
<p><span style="font-weight: bold;">Contributions to the Project: </span> Wrote the about page</p>
<br>
<h3>Kaiyu Peng</h3>
<p><span style="font-weight: bold;">Role: </span>Team member</p>
<p><span style="font-weight: bold;">Contributions to the Project: </span> Wrote index page and layout styles</p>
<br>
<h3>Chenchuhui Hu</h3>
<p><span style="font-weight: bold;">Role: </span>Team member</p>
<p><span style="font-weight: bold;">Contributions to the Project: </span> Writing the team page, creating the personal form, and modifying the layout</p>
<br>
{% endblock %}